---
import BrutalistLayout from "../../layouts/BrutalistLayout.astro";
import ArchiveView from "../../components/archive/ArchiveView";

export const prerender = false;
---

<BrutalistLayout>
  <div class="py-6">
    <ArchiveView client:load />
  </div>
</BrutalistLayout>
