---
import BrutalistLayout from "../../layouts/BrutalistLayout.astro";
import { DashboardView } from "../../components/dashboard/DashboardView";
---

<BrutalistLayout>
  <div class="py-6">
    <DashboardView client:load />
  </div>
</BrutalistLayout>
